force-app/main/default/flows/SDO_Copilot_Get_High_Priority_Deals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets queried opportunities to an export variable for copilot action.</description>
        <name>Assign_Opportunities_to_Export_Variable</name>
        <label>Assign Opportunities to Export Variable</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>OpenOpportunitiesByAmountDescending</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_High_Priority_Opportunities</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Fetches a list of open opportunities by opportunity amount.</description>
    <environments>Default</environments>
    <interviewLabel>SDO Copilot - Get High Priority Deals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Copilot - Get High Priority Deals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets a list of the highest opportunity deals that are not closed</description>
        <name>Get_High_Priority_Opportunities</name>
        <label>Get High Priority Opportunities</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunities_to_Export_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
        <sortField>Amount</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_High_Priority_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>List of user owned open opportunities by opportunity amount.</description>
        <name>OpenOpportunitiesByAmountDescending</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Only included for copilot action to function</description>
        <name>Placeholder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
